.subcription-form {
  --border-radius: 100vw;
  margin-bottom: 3rem;
  display: grid;
  gap: 1.5rem;
  position: relative;
  max-width: 35rem;
  margin-inline: auto;
}

@media (min-width: 50rem) {
  .subcription-form {
    grid-template-columns: 2fr 1fr;
  }
}

 

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-neutral-400);
  padding: 0.4rem 2.5rem;
  font-size: var(--fs-100);
  color: var(--clr-neutral-400);
  width: 100%;
}
.error-message {
  position: absolute;
  left: .8rem;
  top: 2.3rem;
  font-size: var(--fs-100);
  font-style: italic;
  color: var(--clr-secondary-400);
}
